@media only screen and (max-width:768px) {
    .wrapper{
        width: 100%;
    }
    .title-wrapper{
        text-align: center;
    }
    .single-item{
        min-height: 50px;
    }
    #myInput{
        float: none;
    }
    .show-on-mobile{
        display: inline-block;
    }
    .show-on-tablet{
        display: block;
    }
}