@media only screen and (max-width:480px) {
  .list-wrapper{
    padding: 0;
  }
  .input-wrapper{
    padding-left: 10px;
    padding-right: 10px;
  }
  .list-wrapper ul{
    width: 90%;
  }
  .single-item{
    min-height: 70px;
  }
  .button-mobile{
      position: relative;
    display: inline-block !important;
    outline: 0 !important;
    padding: 0 5px 0 5px !important;
    height: 29px !important;
    width: 100px !important;
    border-radius: 3px !important;
    border: 0 !important;
    margin-left: 0 !important;
    top: -1px ! important;
    margin-top: 7px;
    background-color: #bfbfbf;
  }
  .hide-on-mobile{
    display: none;
  }
  .project-title{
    margin-bottom: 40px !important;
  }
  .btn-logout{
    top: inherit;
    right: calc(50% - 50px);
  }
}